

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* Evita a barra de rolagem lateral se algo passar do limite */
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}